@model ESportskiCentar.Models.Popust

@{
    ViewData["Title"] = "Detalji popusta";
}

<section class="hero">
    <div class="hero-content">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Detalji popusta</h1>
                <p>
                    Pregled pravila za dodjelu popusta.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div>
                    <img src="~/images/logo.png" alt="ESportskiCentar Logo" width="300" />
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-card">
    <h1>Popust</h1>

    <p>
        <strong>Broj rezervacija:</strong>
        @Model.potrebanBrojRezervacija
    </p>

    <p>
        <strong>Popust:</strong>
        @Model.procenat %
    </p>

    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-edit btn-sm">
            Uredi
        </a>

        <a asp-action="Index" class="btn btn-secondary-custom ms-2">
            Nazad
        </a>
    </div>
</div>