@model ESportskiCentar.Models.Popust

@{
    ViewData["Title"] = "Detalji popusta";
}

<section class="hero">
    <div class="hero-content">
        <h1>Detalji popusta</h1>
        <p>Pregled pravila za dodjelu popusta.</p>
    </div>
</section>

<div class="page-card">
    <h1>Popust</h1>

    <p>
        <strong>Broj rezervacija:</strong>
        @Model.potrebanBrojRezervacija
    </p>

    <p>
        <strong>Popust:</strong>
        @Model.procenat %
    </p>

    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-edit btn-sm">
            Uredi
        </a>

        <a asp-action="Index" class="btn btn-secondary-custom ms-2">
            Nazad
        </a>
    </div>
</div>