@model ESportskiCentar.Models.Teren

@{
    ViewData["Title"] = "Detalji";
}

<section class="hero">
    <div class="hero-content">
        <h1>Detalji terena</h1>
        <p>Pregled informacija o odabranom terenu.</p>
    </div>
</section>

<div class="page-card">

    <h1>@Model.naziv</h1>

    <p>
        <strong>Sport:</strong>
        @Model.sport
    </p>

    <div class="text-center mt-4">

        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit"
                   asp-route-id="@Model.id"
                   class="btn btn-main">
                Uredi
            </a>
        }

        <a asp-action="Index"
               class="btn btn-secondary-custom ms-2">
            Nazad
        </a>

    </div>

</div>