@page
@{
    ViewData["Title"] = "Pristup odbijen";
}

<section class="hero">
    <div class="hero-content">
        <div class="row align-items-center">

            <div class="col-md-6 text-md-start text-center">
                <h1 class="text-danger fw-bold">
                    Pristup Odbijen!
                </h1>
                <p class="text-white">
                    Stranica kojoj pokušavate pristupiti je zaštićena.
                </p>
            </div>

            <div class="col-md-6 text-center">
                <div>
                    <img src="~/images/logo.png" alt="ESportskiCentar Logo" width="300" />
                </div>
            </div>

        </div>
    </div>
</section>