@page
@model LoginModel

@{
    ViewData["Title"] = "Prijava";
}

<section class="hero">
    <div class="hero-content">

        <div class="row align-items-center">

            <div class="col-md-6">
                <h1>
                    Prijava
                </h1>

                <p>
                    Prijavite se i nastavite sa rezervacijom termina.
                </p>
            </div>

            <div class="col-md-6 text-center">
                <div>
                    <img src="~/images/logo.png" alt="ESportskiCentar Logo" width="300" />
                </div>
            </div>

        </div>

    </div>
</section>

<div class="page-card">
    <h1>Prijava</h1>

    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label">Email:</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label">Lozinka:</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="Input.RememberMe" class="form-check-input" />
            <label asp-for="Input.RememberMe" class="form-check-label">Zapamti me</label>
        </div>

        <div class="text-center">
            <button id="login-submit" type="submit" class="btn btn-main">Prijavi se</button>
        </div>

        <div class="text-center mt-3">
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                Nemate račun? Registrujte se
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}