@model ESportskiCentar.Models.Termin

@{
    ViewData["Title"] = "Dodaj termin";
}

<section class="hero">
    <div class="hero-content">

        <div class="row align-items-center">

            <div class="col-md-6">
                <h1>
                    Dodaj termin
                </h1>

                <p>
                    Unesite teren, datum, vrijeme i cijenu termina.
                </p>
            </div>

            <div class="col-md-6 text-center">
                <div>
                    <img src="~/images/logo.png" alt="ESportskiCentar Logo" width="300" />
                </div>
            </div>

        </div>

    </div>
</section>

<div class="page-card">
    <h1>Novi termin</h1>

    <form asp-action="Create" method="post">
        <input type="hidden" asp-for="rezervisan" value="false" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
        <div class="mb-3">
            <label asp-for="terenID" class="form-label">Teren</label>
            <select asp-for="terenID" class="form-select" asp-items="@((SelectList)ViewData["terenID"])">
                <option value="">-- Odaberi teren --</option>
            </select>
            <span asp-validation-for="terenID" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="datum" class="form-label">Datum i vrijeme</label>
            <input asp-for="datum" type="text" class="form-control kalendar-vrijeme" />
            <span asp-validation-for="datum" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="cijena" class="form-label">Cijena</label>
            <input asp-for="cijena" class="form-control" />
            <span asp-validation-for="cijena" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-main">Dodaj</button>
            <a asp-action="Index" class="btn btn-secondary-custom ms-2">Nazad</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}