@model ESportskiCentar.Models.Termin

@{
    ViewData["Title"] = "Obriši termin";
}

<section class="hero">
    <div class="hero-content">
        <h1>Obriši termin</h1>
        <p>Potvrdite brisanje odabranog termina.</p>
    </div>
</section>

<div class="page-card">
    <h1>Da li ste sigurni?</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <p>
        <strong>Teren:</strong>
        @Model.Teren?.naziv
    </p>

    <p>
        <strong>Sport:</strong>
        @Model.Teren?.sport
    </p>

    <p>
        <strong>Datum i vrijeme:</strong>
        @Model.datum.ToString("dd.MM.yyyy HH:mm")
    </p>

    <p>
        <strong>Cijena:</strong>
        @Model.cijena KM
    </p>

    <p>
        <strong>Status:</strong>
        @if (Model.rezervisan)
        {
            <span class="badge bg-danger">Zauzet</span>
            <div class="alert alert-danger mt-3">
                Ovaj termin je rezervisan i ne može se obrisati.
            </div>
        }
        else
        {
            <span class="badge bg-success">Slobodan</span>
        }
    </p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="id" />

        <div class="text-center mt-4">
            @if (!Model.rezervisan)
            {
                <button type="submit" class="btn btn-danger-custom  ms-2">
                    Obriši
                </button>
            }

            <a asp-action="Index" class="btn btn-secondary-custom ms-2">
                Nazad
            </a>
        </div>
    </form>
</div>