@model ESportskiCentar.Models.Rezervacija

@{
    ViewData["Title"] = "Potvrda rezervacije";
}

<section class="hero">
    <div class="hero-content">
        <h1>Potvrda rezervacije</h1>
        <p>Provjerite detalje termina prije potvrde.</p>
    </div>
</section>

<div class="page-card">
    <h1>Da li želite rezervisati ovaj termin?</h1>

    <p>
        <strong>Teren:</strong>
        @Model.Termin?.Teren?.naziv
    </p>

    <p>
        <strong>Sport:</strong>
        @Model.Termin?.Teren?.sport
    </p>

    <p>
        <strong>Datum i vrijeme:</strong>
        @Model.Termin?.datum.ToString("dd.MM.yyyy HH:mm")
    </p>

    <p>
        <strong>Cijena:</strong>
        @Model.Termin?.cijena KM
    </p>

    <form asp-action="Create" method="post">
        <input type="hidden" asp-for="terminID" />

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-main">
                Potvrdi rezervaciju
            </button>

            <a asp-controller="Termin"
                   asp-action="Index"
                   class="btn btn-secondary-custom ms-2">
                Odustani
            </a>
        </div>
    </form>
</div>