@model IEnumerable<ESportskiCentar.Models.Rezervacija>

@{
    ViewData["Title"] = "Moje rezervacije";
}

<section class="hero">
    <div class="hero-content">
        <h1>Moje<br />rezervacije</h1>
        <p>Pregled svih rezervisanih termina.</p>
    </div>
</section>

<h2 class="section-title">Moje rezervacije</h2>

<div class="time-grid">
    @foreach (var item in Model)
    {
        <a asp-action="Delete"
               asp-route-id="@item.id"
               class="time-btn time-free text-decoration-none">
            @item.Termin?.datum.ToString("dd.MM.yyyy")<br />
            @item.Termin?.datum.ToString("HH:mm")
           <p>Detalji</p> 
        </a>
    }
</div>